.petunjuk-pengerjaan-fq-frame-petunjuk-pengerjaan-fq {
  width: 1280px;
  max-width: 1280px;
  box-sizing: border-box;
  min-height: 1133px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-section-breadcrumb4p {
  width: 1280px;
  height: auto;
  display: flex;
  padding: 24px 84px 8px;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-section-breadcrumb-dg {
  gap: 686.780029296875px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1112px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.petunjuk-pengerjaan-fq-frame-nav-breadcrumb2f {
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-link-lj,.petunjuk-pengerjaan-fq-frame-nav-breadcrumb2f {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-wk1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-wk2 {
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-zh {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-ai1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-ai2 {
  color: #94a3b8;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-link-tn {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text4o1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text4o2 {
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container7l {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-im1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-im2 {
  color: #94a3b8;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container1r {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-cs1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-cs2 {
  color: #1e293b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-back-link-xq {
  gap: 6px;
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-vector-svg-mp {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container8r {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-pm1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-pm2 {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-main-content-el {
  width: 1280px;
  height: auto;
  display: flex;
  padding: 0 60px 32px;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container0n,.petunjuk-pengerjaan-fq-frame-main-content-bo {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-main-content-bo {
  gap: 32px;
  padding: 16px 24px;
  max-width: 1160px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-container0n {
  max-width: 1112px;
}
.petunjuk-pengerjaan-fq-frame-header-group2x,.petunjuk-pengerjaan-fq-frame-left-column-dy {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 635px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-left-column-dy {
  gap: 24px;
  flex-grow: 1;
  flex-shrink: 1;
}
.petunjuk-pengerjaan-fq-frame-header-group2x {
  gap: 4px;
  align-self: stretch;
}
.petunjuk-pengerjaan-fq-frame-subject-pill-ix {
  gap: 6px;
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 12px;
  position: relative;
  max-width: none;
  border-top: 1px solid rgba(219,234,254,.6);
  box-sizing: border-box;
  align-items: center;
  border-left: 1px solid rgba(219,234,254,.6);
  border-right: 1px solid rgba(219,234,254,.6);
  border-bottom: 1px solid rgba(219,234,254,.6);
  border-radius: 9999px 9999px 9999px 9999px;
  justify-content: flex-start;
  background-color: #eff6ff;
}
.petunjuk-pengerjaan-fq-frame-background-ty {
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-text-matematika4z1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-matematika4z2 {
  color: #1d4ed8;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-heading1g0 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 6px 0 0;
  position: relative;
  max-width: 635px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-petunjuk-pengerjaan-at1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-petunjuk-pengerjaan-at2 {
  color: #0f172a;
  font-size: 30px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  letter-spacing: -.75px;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-lu {
  width: 100%;
  height: auto;
  max-width: 635px;
  align-self: stretch;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-wv1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-wv2 {
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-card-title2p,.petunjuk-pengerjaan-fq-frame-section-package7w {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-section-package7w {
  padding: 24px;
  max-width: 635px;
  border-top: 1px solid rgba(226,232,240,.8);
  align-items: flex-start;
  border-left: 1px solid rgba(226,232,240,.8);
  border-right: 1px solid rgba(226,232,240,.8);
  border-bottom: 1px solid rgba(226,232,240,.8);
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-card-title2p {
  gap: 12px;
  padding: 0 0 20px;
  max-width: 585px;
  align-items: center;
  border-bottom: 1px solid #f1f5f9;
}
.petunjuk-pengerjaan-fq-frame-background-border-dq {
  width: 40px;
  display: flex;
  position: relative;
  max-width: 40px;
  border-top: 1px solid #dbeafe;
  box-sizing: border-box;
  min-height: 40px;
  align-items: center;
  border-left: 1px solid #dbeafe;
  border-right: 1px solid #dbeafe;
  border-bottom: 1px solid #dbeafe;
  border-radius: 12px 12px 12px 12px;
  justify-content: center;
  background-color: #eff6ff;
}
.petunjuk-pengerjaan-fq-text-v41 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-v42 {
  color: #2563eb;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-k3 {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-heading292 {
  width: 100%;
  height: auto;
  max-width: 295px;
  align-self: stretch;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-simulasi-tka-y11 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-simulasi-tka-y12 {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-n0 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 295px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-bz1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-bz2 {
  color: #64748b;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame3-column0y {
  gap: 12px;
  padding: 20px 0 0;
  max-width: 585px;
  align-self: stretch;
  align-items: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-ew,.petunjuk-pengerjaan-fq-frame-item1-px,.petunjuk-pengerjaan-fq-frame3-column0y {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}
.petunjuk-pengerjaan-fq-frame-item1-px {
  padding: 12px;
  flex-grow: 1;
  max-width: 187px;
  border-top: 1px solid #f1f5f9;
  align-items: flex-start;
  border-left: 1px solid #f1f5f9;
  flex-shrink: 1;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  flex-direction: column;
  background-color: rgba(248,250,252,.7);
}
.petunjuk-pengerjaan-fq-frame-container-ew {
  gap: 4px;
  max-width: 161px;
  align-self: stretch;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-container3v {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-o61 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-o62 {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text30-soal-d51 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text30-soal-d52 {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-z7,.petunjuk-pengerjaan-fq-frame-margin-a8 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 161px;
  align-self: stretch;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-margin-a8 {
  padding: 1px 0 0;
  align-items: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-z7 {
  align-items: center;
}
.petunjuk-pengerjaan-fq-text-g21 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-g22 {
  color: #64748b;
  font-size: 11px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container24,.petunjuk-pengerjaan-fq-frame-item251 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}
.petunjuk-pengerjaan-fq-frame-item251 {
  padding: 12px;
  flex-grow: 1;
  max-width: 187px;
  border-top: 1px solid #f1f5f9;
  align-items: flex-start;
  border-left: 1px solid #f1f5f9;
  flex-shrink: 1;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  flex-direction: column;
  background-color: rgba(248,250,252,.7);
}
.petunjuk-pengerjaan-fq-frame-container24 {
  gap: 3.990000009536743px;
  max-width: 161px;
  align-self: stretch;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-container-r3 {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text7y1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text7y2 {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "FreeSerif",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text75-menit-wx1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text75-menit-wx2 {
  color: #0f172a;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-fg,.petunjuk-pengerjaan-fq-frame-margin4f {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 161px;
  align-self: stretch;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-margin4f {
  padding: 1px 0 0;
  align-items: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-fg {
  align-items: center;
}
.petunjuk-pengerjaan-fq-text-id1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-id2 {
  color: #64748b;
  font-size: 11px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-cj,.petunjuk-pengerjaan-fq-frame-item3-te {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}
.petunjuk-pengerjaan-fq-frame-item3-te {
  padding: 12px;
  flex-grow: 1;
  max-width: 187px;
  border-top: 1px solid #f1f5f9;
  align-items: flex-start;
  border-left: 1px solid #f1f5f9;
  flex-shrink: 1;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  flex-direction: column;
  background-color: rgba(248,250,252,.7);
}
.petunjuk-pengerjaan-fq-frame-container-cj {
  gap: 4px;
  max-width: 161px;
  align-self: stretch;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-container-nk {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-qh1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-qh2 {
  color: #2563eb;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text27301i1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text27301i2 {
  color: #2563eb;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-z8,.petunjuk-pengerjaan-fq-frame-margin-o7 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 161px;
  align-self: stretch;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-margin-o7 {
  padding: 1px 0 0;
  align-items: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-z8 {
  align-items: center;
}
.petunjuk-pengerjaan-fq-text-jo1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-jo2 {
  color: #64748b;
  font-size: 11px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-xm,.petunjuk-pengerjaan-fq-frame-instructio-section8n {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-instructio-section8n {
  gap: 16px;
  padding: 24px;
  max-width: 635px;
  border-top: 1px solid rgba(226,232,240,.8);
  align-items: flex-start;
  border-left: 1px solid rgba(226,232,240,.8);
  border-right: 1px solid rgba(226,232,240,.8);
  border-bottom: 1px solid rgba(226,232,240,.8);
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-container-xm {
  gap: 8px;
  max-width: 585px;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-background-ml {
  width: 6px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-frame-heading2-rs {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-selama-simulasi-gr1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-selama-simulasi-gr2 {
  color: #0f172a;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: -.4000000059604645px;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-instructio-rows5q {
  gap: 10px;
  width: 100%;
  height: auto;
  max-width: 585px;
  align-self: stretch;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-instructio-rows5q,.petunjuk-pengerjaan-fq-frame-margin-zw,.petunjuk-pengerjaan-fq-frame-rule1-up {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-rule1-up {
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 14px;
  max-width: 585px;
  align-self: stretch;
  border-top: 1px solid #f1f5f9;
  border-left: 1px solid #f1f5f9;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(248,250,252,.8);
}
.petunjuk-pengerjaan-fq-frame-margin-zw {
  width: 32px;
  padding: 2px 0 0;
  max-width: 32px;
  min-height: 34px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-overlay-ov {
  width: 32px;
  display: flex;
  position: relative;
  max-width: 32px;
  box-sizing: border-box;
  min-height: 32px;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  justify-content: center;
  background-color: rgba(219,234,254,.6);
}
.petunjuk-pengerjaan-fq-vector-svg-clock7h {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container4k {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 10px 0 0;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-fl1 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}
.petunjuk-pengerjaan-fq-text-fl1,.petunjuk-pengerjaan-fq-text-fl2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text10,.petunjuk-pengerjaan-fq-text11 {
  color: #0f172a;
  font-size: 14px;
  font-style: normal;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text11 {
  color: #334155;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
}
.petunjuk-pengerjaan-fq-text-fl3 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text12,.petunjuk-pengerjaan-fq-text13,.petunjuk-pengerjaan-fq-text14 {
  color: #334155;
  font-size: 14px;
  font-style: normal;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text13,.petunjuk-pengerjaan-fq-text14 {
  color: #1d4ed8;
}
.petunjuk-pengerjaan-fq-text14 {
  color: #334155;
}
.petunjuk-pengerjaan-fq-frame-margin1n1,.petunjuk-pengerjaan-fq-frame-rule2-qm {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-rule2-qm {
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 14px;
  max-width: 585px;
  align-self: stretch;
  border-top: 1px solid #f1f5f9;
  border-left: 1px solid #f1f5f9;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(248,250,252,.8);
}
.petunjuk-pengerjaan-fq-frame-margin1n1 {
  width: 32px;
  padding: 2px 0 0;
  max-width: 32px;
  min-height: 34px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-overlay-co {
  width: 32px;
  display: flex;
  position: relative;
  max-width: 32px;
  box-sizing: border-box;
  min-height: 32px;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  justify-content: center;
  background-color: rgba(209,250,229,.6);
}
.petunjuk-pengerjaan-fq-vector-svg-grid-np {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-pr {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 27px 0 0;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-mu1 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}
.petunjuk-pengerjaan-fq-text-mu1,.petunjuk-pengerjaan-fq-text-mu2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-mu3,.petunjuk-pengerjaan-fq-text15,.petunjuk-pengerjaan-fq-text16 {
  color: #0f172a;
  font-size: 14px;
  font-style: normal;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text-mu3,.petunjuk-pengerjaan-fq-text16 {
  color: #334155;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
}
.petunjuk-pengerjaan-fq-text-mu3 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-frame-margin8w,.petunjuk-pengerjaan-fq-frame-rule3-bt {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-rule3-bt {
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 14px;
  max-width: 585px;
  align-self: stretch;
  border-top: 1px solid #f1f5f9;
  border-left: 1px solid #f1f5f9;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(248,250,252,.8);
}
.petunjuk-pengerjaan-fq-frame-margin8w {
  width: 32px;
  padding: 2px 0 0;
  max-width: 32px;
  min-height: 34px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-overlay-xv {
  width: 32px;
  display: flex;
  position: relative;
  max-width: 32px;
  box-sizing: border-box;
  min-height: 32px;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  justify-content: center;
  background-color: rgba(254,243,199,.6);
}
.petunjuk-pengerjaan-fq-vector-svg-flag-yi {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container2j {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 19px 0 0;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-dk1 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}
.petunjuk-pengerjaan-fq-text-dk1,.petunjuk-pengerjaan-fq-text-dk2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-dk3,.petunjuk-pengerjaan-fq-text17,.petunjuk-pengerjaan-fq-text18 {
  color: #0f172a;
  font-size: 14px;
  font-style: normal;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text-dk3,.petunjuk-pengerjaan-fq-text18 {
  color: #334155;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
}
.petunjuk-pengerjaan-fq-text-dk3 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-frame-margin-ri,.petunjuk-pengerjaan-fq-frame-rule4-gh {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-rule4-gh {
  gap: 14px;
  width: 100%;
  height: auto;
  padding: 14px;
  max-width: 585px;
  align-self: stretch;
  border-top: 1px solid #f1f5f9;
  border-left: 1px solid #f1f5f9;
  border-right: 1px solid #f1f5f9;
  border-bottom: 1px solid #f1f5f9;
  border-radius: 12px 12px 12px 12px;
  background-color: rgba(248,250,252,.8);
}
.petunjuk-pengerjaan-fq-frame-margin-ri {
  width: 32px;
  padding: 2px 0 0;
  max-width: 32px;
  min-height: 34px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-overlay-uf {
  width: 32px;
  display: flex;
  position: relative;
  max-width: 32px;
  box-sizing: border-box;
  min-height: 32px;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  justify-content: center;
  background-color: rgba(224,231,255,.6);
}
.petunjuk-pengerjaan-fq-vector-svg-cloud5g {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-je {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 32px 0 0;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-saat-waktu-ir1 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}
.petunjuk-pengerjaan-fq-text-saat-waktu-ir1,.petunjuk-pengerjaan-fq-text-saat-waktu-ir2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-saat-waktu-ir3,.petunjuk-pengerjaan-fq-text19,.petunjuk-pengerjaan-fq-text20 {
  color: #0f172a;
  font-size: 14px;
  font-style: normal;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text-saat-waktu-ir3,.petunjuk-pengerjaan-fq-text20 {
  color: #334155;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
}
.petunjuk-pengerjaan-fq-text-saat-waktu-ir3 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-frame-calm-supportive34,.petunjuk-pengerjaan-fq-frame-right-column-ts {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 445px;
  box-sizing: border-box;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-frame-right-column-ts {
  gap: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-calm-supportive34 {
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  border-top: 1px solid rgba(226,232,240,.8);
  align-items: center;
  border-left: 1px solid rgba(226,232,240,.8);
  border-right: 1px solid rgba(226,232,240,.8);
  border-bottom: 1px solid rgba(226,232,240,.8);
  border-radius: 16px 16px 16px 16px;
  justify-content: center;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-custom-educationa-s3 {
  width: 280px;
  display: flex;
  padding: 0 0 8px;
  position: relative;
  max-width: 280px;
  box-sizing: border-box;
  min-height: 198px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-custom-educationa-h2 {
  width: 100%;
  max-width: 280px;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 190px;
}
.petunjuk-pengerjaan-fq-vector-svg61 {
  width: 100%;
  margin: 0;
  display: block;
  overflow: hidden;
  flex-grow: 1;
  max-width: 280px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-heading37h {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-fokus-percaya-ii1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-fokus-percaya-ii2 {
  color: #1e293b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-co,.petunjuk-pengerjaan-fq-frame-margin1n2 {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 3px 0 0;
  position: relative;
  max-width: 320px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-co {
  padding: 0 19px 1px;
  align-items: center;
}
.petunjuk-pengerjaan-fq-text-fl4 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-fl5,.petunjuk-pengerjaan-fq-text-fl6 {
  color: #64748b;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-ambient-decorative-qm,.petunjuk-pengerjaan-fq-frame-overlay-blur9r {
  top: 90px;
  left: 1099px;
  width: 144px;
  filter: blur(40px);
  height: 144px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: rgba(219,234,254,.4);
}
.petunjuk-pengerjaan-fq-frame-overlay-blur9r {
  top: 343px;
  left: 712px;
  background-color: rgba(224,231,255,.4);
}
.petunjuk-pengerjaan-fq-frame-container-or,.petunjuk-pengerjaan-fq-frame-reminder-card-ks {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-reminder-card-ks {
  gap: 5.300000190734863px;
  padding: 20px;
  max-width: 445px;
  border-top: 1px solid #dbeafe;
  align-items: flex-start;
  border-left: 1px solid #dbeafe;
  border-right: 1px solid #dbeafe;
  border-bottom: 1px solid #dbeafe;
  border-radius: 16px 16px 16px 16px;
  flex-direction: column;
  background-color: rgba(239,246,255,.7);
}
.petunjuk-pengerjaan-fq-frame-container-or {
  gap: 8px;
  max-width: 403px;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-background-zs {
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-frame-container2p {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-siap-memulai-dq1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-siap-memulai-dq2 {
  color: #1d4ed8;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: .6000000238418579px;
  text-transform: uppercase;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-heading4-gn {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1px 0 0;
  position: relative;
  max-width: 403px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-ro1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-ro2,.petunjuk-pengerjaan-fq-text-ro3 {
  color: #0f172a;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-ul {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 0 1px;
  position: relative;
  max-width: 403px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-pastikan-kondisi5m1 {
  width: 100%;
  max-width: 100%;
  align-self: stretch;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-pastikan-kondisi5m2,.petunjuk-pengerjaan-fq-text-pastikan-kondisi5m3 {
  color: #475569;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-bottom-action4z {
  gap: 736.5800170898438px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px 0 0;
  position: relative;
  max-width: 1112px;
  align-self: stretch;
  border-top: 1px solid rgba(226,232,240,.9);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.petunjuk-pengerjaan-fq-frame-link-back-g0 {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 10px 24px;
  position: relative;
  max-width: none;
  border-top: 1px solid #cbd5e1;
  box-sizing: border-box;
  align-items: center;
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-radius: 12px 12px 12px 12px;
  justify-content: center;
}
.petunjuk-pengerjaan-fq-text-kembali0y1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-kembali0y2 {
  color: #334155;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-primary-action-px {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-link-n0 {
  gap: 7.989999771118164px;
  display: flex;
  padding: 12px 32px;
  position: relative;
  box-shadow: 0 1px 2px 0#bfdbfe;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  justify-content: center;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-frame-container-bz,.petunjuk-pengerjaan-fq-frame-link-n0 {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-mulai-simulasi921 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-mulai-simulasi922 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-vector-svg-y1 {
  width: 16px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 16px;
  box-sizing: border-box;
  min-height: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-margin-k3 {
  display: flex;
  padding: 6px 0 0;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-kq,.petunjuk-pengerjaan-fq-frame-margin-k3 {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text9p1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: right;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text9p2 {
  color: #64748b;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: right;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-main-footer-d5 {
  width: 1280px;
  height: auto;
  display: flex;
  padding: 20px 0;
  position: relative;
  max-width: 1280px;
  border-top: 1px solid #e2e8f0;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-blue-graduation-z7,.petunjuk-pengerjaan-fq-frame-container-o6 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.petunjuk-pengerjaan-fq-frame-container-o6 {
  gap: 8px;
  width: 100%;
  height: auto;
  padding: 0 16px;
  max-width: 1280px;
  align-self: stretch;
}
.petunjuk-pengerjaan-fq-frame-blue-graduation-z7 {
  width: 20px;
  max-width: 20px;
  min-height: 20px;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-vector-svg-a8 {
  width: 12px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 12px;
  box-sizing: border-box;
  min-height: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-g2 {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-r31 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}
.petunjuk-pengerjaan-fq-text-r31,.petunjuk-pengerjaan-fq-text-r32 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text21,.petunjuk-pengerjaan-fq-text22 {
  color: #334155;
  font-size: 12px;
  font-style: normal;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-text22 {
  color: #64748b;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
}
.petunjuk-pengerjaan-fq-frame-main-header24 {
  width: 1280px;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1280px;
  box-sizing: border-box;
  align-items: flex-start;
  border-bottom: 1px solid #e2e8f0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}
.petunjuk-pengerjaan-fq-frame-container-wx {
  gap: 224.8000030517578px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 14px 32px;
  position: relative;
  max-width: 1280px;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.petunjuk-pengerjaan-fq-frame-brand-logo7y {
  gap: 12px;
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-background-shadow1n {
  width: 40px;
  display: flex;
  position: relative;
  max-width: 40px;
  box-shadow: 0 1px 2px 0 rgba(59,130,246,.2);
  box-sizing: border-box;
  min-height: 40px;
  align-items: center;
  border-radius: 12px 12px 12px 12px;
  justify-content: center;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-vector-svg-co {
  width: 24px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 24px;
  box-sizing: border-box;
  min-height: 24px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-zt {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-agra-os1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-agra-os2 {
  color: #2563eb;
  font-size: 20px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
  letter-spacing: -.5px;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-center-navigation-dr {
  gap: 32px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-center-navigation-dr,.petunjuk-pengerjaan-fq-frame-link2q {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-rp1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-rp2 {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-link-go {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text5n1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text5n2 {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-link-y7 {
  width: fit-content;
  height: auto;
  max-width: none;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text981 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text982 {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-link-c5 {
  width: fit-content;
  height: auto;
  display: flex;
  padding: 4px 0;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-text-simulasi-tka-n61 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-simulasi-tka-n62 {
  color: #2563eb;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-background6b {
  top: 66px;
  left: 719px;
  width: 86px;
  height: 3px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 9999px 9999px 0 0;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-frame-button-notifikasi-k9,.petunjuk-pengerjaan-fq-frame-right-user-hc {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-right-user-hc {
  gap: 16px;
  align-items: center;
}
.petunjuk-pengerjaan-fq-frame-button-notifikasi-k9 {
  padding: 8px;
  align-items: flex-start;
  border-radius: 9999px 9999px 9999px 9999px;
  flex-direction: column;
}
.petunjuk-pengerjaan-fq-vector-svg-va {
  width: 20px;
  margin: 0;
  display: block;
  overflow: hidden;
  max-width: 20px;
  box-sizing: border-box;
  min-height: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-background-border-t0 {
  top: 22px;
  left: 1099px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #2563eb;
}
.petunjuk-pengerjaan-fq-frame-student-profile-ae {
  gap: 12px;
  width: fit-content;
  height: auto;
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: center;
  border-left: 1px solid #e2e8f0;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-background-shadow-zd {
  width: 36px;
  overflow: hidden;
  max-width: 36px;
  box-shadow: 0 0 0 2px #dbeafe;
  box-sizing: border-box;
  min-height: 36px;
  border-radius: 9999px 9999px 9999px 9999px;
  background-color: #e2e8f0;
}
.petunjuk-pengerjaan-fq-frame-svg-simulated-wg,.petunjuk-pengerjaan-fq-vector-svg-lf {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  max-width: 36px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 1;
}
.petunjuk-pengerjaan-fq-frame-svg-simulated-wg {
  background-color: #eff6ff;
}
.petunjuk-pengerjaan-fq-vector-svg-lf {
  margin: 0;
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-oc,.petunjuk-pengerjaan-fq-frame-container-r9 {
  width: fit-content;
  height: auto;
  display: flex;
  position: relative;
  max-width: none;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.petunjuk-pengerjaan-fq-frame-container-oc {
  width: 100%;
  max-width: 62px;
  align-self: stretch;
}
.petunjuk-pengerjaan-fq-text-budi-db1 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-budi-db2 {
  color: #1e293b;
  font-size: 14px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Plus Jakarta Sans",sans-serif;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
.petunjuk-pengerjaan-fq-frame-container-u6 {
  width: 100%;
  height: auto;
  max-width: 62px;
  align-self: stretch;
  box-sizing: border-box;
}
.petunjuk-pengerjaan-fq-text-j51 {
  width: 100%;
  max-width: auto;
  margin-top: 0;
  min-height: auto;
  text-align: left;
  margin-bottom: 0;
}
.petunjuk-pengerjaan-fq-text-j52 {
  color: #94a3b8;
  font-size: 12px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Nimbus Sans",sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}
@media (max-width: 1280px) {
  .petunjuk-pengerjaan-fq-frame-container-o6,.petunjuk-pengerjaan-fq-frame-container-wx {
    width: 100%;
    max-width: 1280px;
  }
  ;
}
@media (max-width: 1160px) {
  .petunjuk-pengerjaan-fq-frame-main-content-bo {
    width: 100%;
    max-width: 1160px;
  }
  ;
}
@media (max-width: 320px) {
  .petunjuk-pengerjaan-fq-frame-container-co,.petunjuk-pengerjaan-fq-frame-margin1n2 {
    width: 100%;
    max-width: 320px;
  }
  ;
}
@media (max-width: 280px) {
  .petunjuk-pengerjaan-fq-frame-custom-educationa-h2,.petunjuk-pengerjaan-fq-frame-custom-educationa-s3 {
    width: 100%;
    max-width: 280px;
  }
  ;
}